@font-face {
  font-family: "Michroma";
  src:
    url("/fonts/Michroma-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src:
    url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Poiret";
  src:
    url("/fonts/PoiretOne-Regular.ttf") format("truetype");
}

* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1,
h2 {
  font-family: 'Michroma', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 2.0rem;
  text-align: left;
  color: #ff7f00;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  opacity: .7;
}

section p {
  text-align: left;
  margin-top: 1.4rem;
  line-height: 2.3rem;
}

body {
  background-color: #30343C;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  box-shadow: 0px 5px 8px 0px rgba(80, 80, 80, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.21);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  animation-name: headerFix;
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
  animation-range: 0 120px;
  animation-fill-mode: forwards;
}

header img {
  height: 75%;
  margin-left: 10px;
}

.sections {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.sections li {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.sections li a {
  margin: 0 auto;
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
  animation-range: 0% 100%;
  animation-fill-mode: none;
}

.sections li a:hover {
  color: #ff7f00;
  transform: scale(1.1);
}

.home {
  animation-name: sectionHome;
}

.about {
  animation-name: sectionAbout;
}

.portfolio {
  animation-name: sectionPortfolio;
}

.services {
  animation-name: sectionServices;
}

.contact {
  animation-name: sectionContact;
}

.hamburgerContainer,
.menu {
  display: none;
  overflow: hidden;
}

.languageContainer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.languageContainer a:hover {
  & p {
    transform: scale(1.1);
    color: #ff7f00;
  }
}

.languageContainer ul {
  display: flex;
  list-style-type: none;
}

.languageContainer ul:last-child {
  margin-right: 5px;
}

.languageContainer li {
  display: flex;
  align-items: center;
  box-shadow: 1px 5px 8px 0px rgba(80, 80, 80, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.21);
  padding-left: 10px;
  margin-left: 10px;
}

.languageContainer img {
  display: inline;
  height: 18px;
  margin: 5px;
  margin-right: 10px;
}

.languageContainer p {
  display: inline;
}

.languageContainer .dropdown {
  display: flex;
  max-width: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.dropdown.active {
  max-width: 400px;
  opacity: 1;
}

.languageContainer {
  height: 60%;
  margin-right: 10px;
  display: flex;
}

main {
  height: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
}

main section {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;
}

.list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.list li {
  display: flex;
  width: 250px;
  height: 200px;
  overflow: hidden;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
  background-size: cover;
  background-position-x: center;
  background-color: rgba(120, 120, 120, 0.3);
  background-blend-mode: lighten;
}

.list li p {
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  text-align: center;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-shadow:
    1px 1px 1px#30343C,
    1px -1px 1px#30343C,
    -1px 1px 1px#30343C,
    -1px -1px 1px#30343C;
}

.chemie {
  background-image: url("/images/chemie.webp");
}

.logistics {
  background-image: url("/images/logistics.webp");
}

.packaging {
  background-image: url("/images/packaging.webp");
}

.automotive {
  background-image: url("/images/automotive.webp");
}

.batch {
  background-image: url("/images/batch.webp");
}

.quote {
  font-size: .9rem;
  opacity: .7;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 5px 8px 0px rgba(80, 80, 80, 0.5);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

footer section {
  justify-content: center;
}

footer p {
  font-family: 'Poiret', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  position: fixed;
  right: 10px;
}

footer section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  gap: 15px;
  scroll-snap-align: none;
}

video {
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  left: 0;
  bottom: 0;
  z-index: -10;
}

.videoMask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.9;
  z-index: -1;
}

@keyframes headerFix {
  0% {
    left: 10%;
    right: 10%;
    top: 40px;
    border-radius: 10px;
    border-width: 1px;
    height: 80px;
  }

  75% {
    border-width: 0px;
  }

  100% {
    left: 0;
    right: 0;
    top: 0px;
    border-radius: 0px;
    border-width: 0px;
    height: 60px;
  }
}