@font-face {
  font-family: "Michroma";
  src:
    url("/fonts/Michroma-Regular.ttf") format("truetype");
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1 {
  font-family: 'Michroma', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-block: 10px;
}

body {
  background-color: #30343C;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  box-shadow: 0px 5px 8px 0px rgba(80, 80, 80, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.21);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  animation-name: headerFix;
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
  animation-range: 0 120px;
  animation-fill-mode: forwards;
}

section {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 5px 8px 0px rgba(80, 80, 80, 0.5);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

@keyframes headerFix {
  from {
    left: 10%;
    right: 10%;
    top: 40px;
    border-radius: 10px;
    border-width: 1px;
  }

  to {
    left: 0;
    right: 0;
    top: 0px;
    border-radius: 0px;
    border-width: 0px;
  }
}