---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GUMA Automation</title>
  </head>
  <body>
    <script>
      import { changeLanguage } from "../utils/language";
      const lang = navigator.language;
      changeLanguage(lang);
    </script>
    <h1>Redirecting...</h1>
  </body>
</html>
