---
import "../styles/global.css";
import "../styles/responsive.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GUMA Automation</title>
  </head>
  <body>
    <script>
      import { changeLanguage } from "../utils/language";
      const lang = navigator.language;
      changeLanguage(lang);
    </script>
    <main>
      <h1>Redirecting...</h1>
      <p>If it takes too long, check whether JS is activated</p>
      <img src="/images/main-logo.svg" />
    </main>
  </body>
</html>

<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  img {
    height: 6em;
    margin-top: 50px;
  }
</style>
