---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<footer>
  <section>
    <GithubIcon />
    <LinkedinIcon />
  </section>
  <p>GUMA Automation ® - 2025</p>
</footer>

<style>
  p {
    font-size: 0.9rem;
    position: fixed;
    right: 10px;
  }
  a {
    display: flex;
    align-items: center;
  }
  section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 15px;
    scroll-snap-align: none;
  }
</style>
