---

---

<footer>
  <section>
    <a
      href="https://www.linkedin.com/in/pau-guimer%C3%A0-mart%C3%ADnez-61116814/"
      target="_blank"><img src="/images/icons/linkedin.svg" /></a
    >
    <a href="https://github.com/pguim" target="_blank"
      ><img src="/images/icons/github.svg" /></a
    >
  </section>
  <p>GUMA Automation ® - 2025</p>
</footer>

<style>
  p {
    font-size: 0.9rem;
    position: fixed;
    right: 10px;
  }
  a {
    display: flex;
    align-items: center;
  }
  img {
    width: 1.1rem;
  }
  section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    width: 50%;
    scroll-snap-align: none;
  }
</style>
