---
import HeaderSections from "./HeaderSections.astro";
import Hamburguer from "./icons/Hamburguer.astro";
interface Props {
  texts: {
    languageSelector: {
      ca: string;
      es: string;
      en: string;
    };
    menuItems: {
      home: string;
      about: string;
      portfolio: string;
      services: string;
      contact: string;
    };
  };
  currentLanguage: string;
}
const { texts, currentLanguage } = Astro.props;
import LanguageSelector from "./LanguageSelector.astro";
---

<script>
  document.querySelector(".hamburguer")?.addEventListener("click", () => {
    document.querySelector(".hamburguer")?.classList.toggle("open");
    document.querySelector(".menu")?.classList.toggle("open");
  });
  document.querySelectorAll(".menu a")?.forEach((item) => {
    item.addEventListener("click", () => {
      document.querySelector(".hamburguer")?.classList.toggle("open");
      document.querySelector(".menu")?.classList.toggle("open");
    });
  });
</script>
<header>
  <img src="/images/main-logo.svg" />
  <HeaderSections texts={texts} listClass="sections" />
  <LanguageSelector
    texts={texts.languageSelector}
    currentLanguage={currentLanguage}
  />
  <div class="hamburgerContainer">
    <Hamburguer size="32" />
  </div>
</header>
<div class="menu">
  <HeaderSections texts={texts} />
</div>

<style>
  @keyframes sectionHome {
    0%,
    19% {
      color: #ff7f00;
    }
    20%,
    100% {
      color: white;
    }
  }
  @keyframes sectionAbout {
    0%,
    19% {
      color: white;
    }
    20%,
    39% {
      color: #ff7f00;
    }
    40%,
    100% {
      color: white;
    }
  }
  @keyframes sectionPortfolio {
    0%,
    39% {
      color: white;
    }
    40%,
    59% {
      color: #ff7f00;
    }
    60%,
    100% {
      color: white;
    }
  }
  @keyframes sectionServices {
    0%,
    59% {
      color: white;
    }
    60%,
    79% {
      color: #ff7f00;
    }
    80%,
    100% {
      color: white;
    }
  }
  @keyframes sectionContact {
    0%,
    79% {
      color: white;
    }
    80%,
    100% {
      color: #ff7f00;
    }
  }
</style>
