<a href="https://github.com/pguim" target="_blank" class="icon-link">
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon">
    <path
      d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.207 11.387.6.113.793-.263.793-.583
        0-.288-.01-1.05-.015-2.06-3.338.726-4.042-1.612-4.042-1.612-.546-1.387-1.333-1.757-1.333-1.757
        -1.09-.745.082-.73.082-.73 1.205.085 1.84 1.237 1.84 1.237 1.07 1.834 2.807 1.304 3.492.997
        .108-.775.42-1.305.762-1.605-2.665-.304-5.466-1.332-5.466-5.93
        0-1.31.468-2.382 1.236-3.222-.123-.303-.536-1.524.117-3.176
        0 0 1.008-.322 3.3 1.23a11.5 11.5 0 0 1 3.003-.403
        c1.02.005 2.045.138 3.003.403 2.29-1.552 3.297-1.23 3.297-1.23
        .655 1.653.242 2.874.12 3.176.77.84 1.235 1.912 1.235 3.222
        0 4.61-2.804 5.624-5.475 5.921.431.37.816 1.102.816 2.222
        0 1.606-.015 2.898-.015 3.293 0 .323.192.7.801.581C20.565 21.796 24 17.297 24 12
        24 5.37 18.63 0 12 0Z"
      class="icon-path"></path>
  </svg>
</a>

<style>
  a {
    display: flex;
    align-items: center;
  }
  .icon {
    width: 1.2rem;
    transition: transform 0.2s ease;
  }

  .icon-path {
    fill: white;
    transition: fill 0.2s ease;
  }

  .icon-link:hover .icon {
    transform: scale(1.1);
  }

  .icon-link:hover .icon-path {
    fill: #ff7f00;
  }
</style>
