---
const { texts, currentLanguage } = Astro.props;
import Header from "../components/Header.astro";
import BackgroundVideo from "../components/BackgroundVideo.astro";
---

<main>
  <BackgroundVideo />
  <Header texts={texts.header} currentLanguage={currentLanguage} />
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
