---
const { texts, currentLanguage } = Astro.props;
import Header from "../components/Header.astro";
import BackgroundVideo from "../components/BackgroundVideo.astro";
import SectionHome from "../components/SectionHome.astro";
---

<main>
  <BackgroundVideo />
  <Header texts={texts.header} currentLanguage={currentLanguage} />
  <SectionHome id="home" texts={texts.home} />
  <SectionHome id="about" texts={texts.home} />
</main>

<style>
  main {
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
  }
</style>
